@import url(/shared/fonts.css);
@import url(/shared/style.css);

.cart {
    height: 100%;
    max-width: 384px;
    padding: 24px 24px;
    border-radius: var(--radius-12);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    background-color: var(--color-white);
}

@media(max-width: 768px) {
    .cart {
        max-width: 688px;
    }
}

.cart__title {
    width: 100%;
    display: block;
    font-family: text-preset-4;
    color: var(--color-red);
}

.cart__description {
    width: 100%;
    display: block;
    font-family: text-preset-4;
}

.cart__img {
    height: 128px;
    width: 128px;
    opacity: 100%;
}



.cart__carbon-info {
    height: 52px;
    width: 100%;
    padding: 16px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--color-rose-50);
}

.cart__carbon-info-text {
    height: 20px;
    font-family: text-preset-4;
    font-size: 14px;
    color: var(--color-rose-900);
}