@import url(fonts.css);
@import url(../style.css);

.add-button {
    width: 160px;
    height: 44px;
    border: 2px solid var(--color-rose-400);
    border-radius: var(--radius-999);
    box-shadow: var(--main-shadow);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    z-index: 1;
    
    font-family: text-preset-4;
}

.add-button:hover {
    cursor: pointer;
    border-color: var(--color-red);
    color: var(--color-red)
}

.add-button-active {
    width: 160px;
    height: 44px;
    padding: 12px 12px;
    border-radius: var(--radius-999);

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;
    font-family: text-preset-4;
    background-color: var(--color-red);
}

.add-button-active__decrease-button {
    height: 20px;
    width: 20px;
    border: none;
    background-image: url('../icons/decreaseCartDefault.svg');
    background-color: var(--color-red);

}

.add-button-active__decrease-button:hover {
    cursor: pointer;
    background-image: url('../icons/decreaseCartHover.svg');
}

.add-button-active__increase-button {
    height: 20px;
    width: 20px;
    border: none;
    background-image: url('../icons/increaseCartDefault.svg');
    background-color: var(--color-red);
}

.add-button-active__increase-button:hover {
    cursor: pointer;
    background-image: url('../icons/increaseCartHover.svg');
}

.button-primary {
    height: 53px;
    width: 100%;
    border: none;
    border-radius: var(--radius-999);
    font-family: text-preset-3;   
    color: white;
    background-color: var(--color-red);

}

.button-primary:hover {
    cursor: pointer;
    background-color: var(--color-dark-red);
}

.separator {
    width: 100%;
}